.member-info {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.member-info h1 {
  font-size: 32px;
}

.member-info p {
  color: #666;
  line-height: 20px;
  margin-top: 5px;
}

.member-info p a svg {
  margin-top: 10px;
}
